/* Our CSS file. */


.container {
width: 100%;
height: 100%;
}
.content {
    text-align: center;
    width: 90%;
    background-color: #f2f2f2;
    height: 300px;
    margin: 10px 20px;
    border: 1px solid black;
}
.left-inline, .right-inline {
    display: inline-block;
    width: 40%;
}
.left-inline {
    vertical-align: top;
}
.right-inline{
    height: 40%;
}
#render-wiki{
    height: 270px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid black;
}
.bttn{
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 20px;
    width: 150px;
    padding: 15px;
}
.block{
    display: block;
    width: 100%;
}
.second-block{
    height: 100px;
}
#render-dictionary{
    height: 140px;
    width: 90%;
    margin-top: 15px;
    border: 1px solid black;
    
}